<!-- Enter Policy ID start -->
<div class="container-fluid h-100 bg-light text-dark">
  <div class="row justify-content-center align-items-center">
    <h3>Enter Your Details</h3>
  </div>
  <hr />
  <div class="row justify-content-center align-items-center h-100">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <form action="" [formGroup]="policyDetails" (ngSubmit)="policyClaim(policyDetails.value)">
        <div class="form-group">
          <label>Policy Number:</label>
          <input type="text" formControlName="policyNo" class="form-control" />
        </div>
        <div class="form-group">
          <label>Aadhar Number:</label>
          <input type="number" formControlName="aadharNo" class="form-control" />
        </div>
        <div class="form-group">
          <label>Date Of Birth:</label>
          <input type="date" data-date-format="YYYY/MM/DD" formControlName="dob" class="form-control" />
        </div>
        <div class="form-group">
          <div class="container">
            <div class="row">
              <div class="col"><button class="col-6 btn btn-primary btn-sm float-right">Submit</button></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Enter Policy ID end -->