<!-- Navigation header start-->
<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-dark navbg">
    <a href="#" class="navbar-brand">
      <img src="assets/img/logo.png" style="width: 80px; height: 50px;" alt="">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link active">Home</a>
        <a href="#" routerLink="claim" class="nav-item nav-link" style="width:50%">Claim</a>
        <a href="#" class="nav-item nav-link" routerLink="adminLogin">Admin</a>
      </div>
      <form class="form-inline ml-auto">
        <div class="navbar-nav">
          <a href="#" class="nav-item nav-link" (click)="claimStatus()" routerLink="/status">Check Claim Status</a>
        </div>
      </form>
    </div>
  </nav>
</div>
<!-- Navigation header end-->